*{
  margin: 0;
  padding : 0;
  box-sizing: border-box;
}

.Logo svg{
  position: absolute;
  background: white;
  top: 100px;
  width: 25%;
  left: 37.5%;
  height: 100px;
  border-radius: 1px;
  z-index: 1111;
}

.container{
  position: absolute;
  height: 350px;
  width: 25%;
  right: 37.5%;
  min-width: 300px;
  left: 37.5%;
  top: 200px;
  background: rgb(172, 247, 247);
  border-radius: 50px;
}

form h1{
  position: absolute;
  color: #000000;
  left: 25%;
  width: 50%;
  top: 40px;
  font-family:Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-box{
  position: absolute;
  background: white;
  top: 100px;
  left: 25%;
  width: 50%;
  height: 30px;
  border: #000000;
  border-radius: 10px;
  z-index: 1111;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: none;
  color: #000000;
  font-size: 12px;
  padding: 10px 10px 10px  10px;
}

.input-box input::placeholder{
  font-size: 12px;
  color:grey;
}

.input-box1{
  position: absolute;
  background: white;
  top: 135px;
  left: 25%;
  width: 50%;
  height: 30px;
  font-size: 12px;
  border-radius: 10px;
  z-index: 1111;
}
.input-box1 input{
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: none;
  font-size: 12px;
  color: #000000;
  font-size: 12px;
  padding: 10px 10px 10px  10px;
}
.input-box1 input::placeholder{
  font-size: 12px;
  color:grey;
}

.to_SignUp{
  position: absolute;
  font-size: 12px;
  font-style: italic;
  left: 55px;
  top: 170px;
  z-index: 1115;
}
.to_SignUp1{
  position: absolute;
  font-size: 12px;
  font-style: italic;
  left: 180px;
  top: 170px;
  z-index: 1115;
}
.continue_with_google{
  position: absolute;
  top: 190px;
  background: white;
  left: 25%;
  width: 50%;
  height: 30px;
  border-radius: 10px;
}
.continue_with_google svg{
  position: absolute;
  left: 10px ;
  top:  0px ;
  width: 20px;
  height: 30px;
  font-size: 12px;
  color: #000000;
}
.continue_with_google span{
  position: absolute;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  left: 35px ;
  top:  15px ;
  transform: translateY(-50%);
  font-size: 11px;
  color: #000000;
  font-weight: 100;
}

.log_button{
  position: absolute;
  top: 230px;
  background: white;
  left: 25%;
  width: 50%;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 10px ;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}