/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

a {
  color: var(--color-links);
  text-decoration: none;
}

a:hover {
  color: var(--color-links-hover);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body,
footer {
  font-family: var(--font-secondary);
}

#main {
  margin-top: 50px;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--color-white);
  transition: all 0.6s ease-out;
  width: 100%;
  height: 100vh;
}

#preloader:before,
#preloader:after {
  content: "";
  position: absolute;
  border: 4px solid var(--color-primary);
  border-radius: 50%;
  animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

#preloader:after {
  animation-delay: -0.5s;
}

@keyframes animate-preloader {
  0% {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1;
  }

  100% {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 20px;
  min-height: 40px;
  margin-top: 76px;
  margin-bottom: 26px;
  border-bottom: 2px solid var(--color-black);
}

.breadcrumbs h2 {
  font-size: 40px;
  margin: 0;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: var(--color-secondary-light);
  content: "/";
}

@media (max-width: 992px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 995;
  background: var(--color-primary);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--color-white);
  line-height: 0;
}

.scroll-top:hover {
  background: rgba(var(--color-primary-rgb), 0.85);
  color: var(--color-white);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  padding: 0px 0;
  transition: all 0.5s;
  z-index: 997;
  background: var(--color-primary);
  min-height: 65px;
  max-height: 100px;
  display: flex;
}

.header .logo img {
  max-height: 45px;
  margin-right: 40px;
}

.header form .loginButton {
  color: var(--color-white);
  opacity: 0.6;
  padding: 8px 18px;
  border: none;
  font-size: 14px;
}

.header form .loginButton:hover {
  opacity: 1;
  transition: 0.3s;
}

.header form .signupButton {
  padding: 8px 18px;
  color: var(--color-white);
  border: none;
  margin-right: 10px;
  border-radius: 20px;
  font-size: 14px;
}

.header form .signupButton:hover {
  color: var(--color-black);
  background-color: var(--color-white);
  transition: 0.3s;
}

.header form #loginStatus {
  padding: 8px 23px;
  align-items: center;
}

/*--------------------------------------------------------------
# Desktop Navigation 
--------------------------------------------------------------*/
@media screen and (min-width: 1024px) {
  .navbar {
    padding: 0;
    position: relative;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar>ul>li {
    white-space: nowrap;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
    font-family: var(--font-secondary);
    font-size: 14px;
    font-weight: 400;
    color: rgba(var(--color-white-rgb), 0.7);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-primary);
    visibility: hidden;
    overflow: hidden;
    transition: 0.3s;
  }

  .navbar a:hover,
  .navbar li:hover>a {
    color: var(--color-white);
  }

  .navbar .dropdown a:hover:before,
  .navbar .dropdown:hover>a:before,
  .navbar .dropdown .active:before {
    visibility: hidden;
  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    margin: 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: var(--color-white);
    color: var(--color-black);
    transition: 0.3s;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .form .dropdown-menu a {
    transition: 0.3s;
  }

  .navbar .dropdown ul a,
  .form .dropdown .dropdown-menu a {
    padding: 10px 20px;
    font-size: 12px;
    text-transform: none;
    font-weight: 400;
    color: rgba(var(--color-black-rgb), 0.5);
  }

  .navbar .dropdown ul li:hover>a,
  .form .dropdown-menu a:hover {
    color: var(--color-white);
    background: rgba(var(--color-secondary-light-rgb), 0.4);
  }

  .navbar .dropdown:hover>ul {
    opacity: 1;
    visibility: visible;
  }

  .navbar .form {
    display: none;
  }


}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1023px) {
  .navbar {
    position: fixed;
    top: 0;
    left: -100%;
    width: calc(100% - 70px);
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }

  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 10px 0;
    margin: 0;
    background: rgba(var(--color-secondary-rgb), 0.9);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(var(--color-white-rgb), 0.7);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: var(--color-white);
  }

  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    padding: 10px 0;
    margin: 10px 20px;
    transition: all 0.5s ease-in-out;
    border: 1px solid rgba(var(--color-secondary-light-rgb), 0.3);
  }

  .navbar .dropdown>.dropdown-active,
  .navbar .dropdown .dropdown>.dropdown-active {
    display: block;
  }

  .mobile-nav-toggle {
    display: block !important;
    color: var(--color-white);
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    top: 20px;
    z-index: 9999;
    right: 20px;
  }

  .mobile-nav-toggle.bi-x {
    color: var(--color-white);
  }

  .mobile-nav-active {
    overflow: hidden;
    z-index: 9995;
    position: relative;
  }

  .mobile-nav-active .navbar {
    left: 0;
  }

  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(var(--color-secondary-rgb), 0.8);
    z-index: 9996;
  }

  .header .form {
    display: none;
  }

  .navbar .form {
    display: block;
  }

  .navbar #loginStatus-nav {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: rgba(var(--color-white-rgb), 0.7);
    white-space: nowrap;
    transition: 0.3s;
  }
}

/*--------------------------------------------------------------
# Landing Page Stylings
--------------------------------------------------------------*/
@media (max-width: 767px) {
  .miaw {
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    margin: 0 0 !important;
  }

  .miaw .miaw-bt,
  .miaw .miaw-ill {
    margin: auto;
  }

  .miaw .miaw-tx {
    padding-top: 0;
    text-align: center;
  }

  .miaw h5 {
    font-size: 40px !important;
    font-weight: 500 !important;
  }
}

.miaw {
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin: 0 10vh;
}

.miaw h5 {
  font-size: 60px;
  font-weight: 500;
  padding-bottom: 30px;
}

.miaw-ill {
  max-width: 500px;
  max-height: 500px;
  min-width: none;
  min-height: 0;
}





/*--------------------------------------------------------------
# AirCheck Stylings
--------------------------------------------------------------*/
.bg-img {
  background-image: url('../img/aircheck-bg.jpg');
  background-size: cover;
  min-height: 100vh;
  transition: min-height 0.5s ease-out;
}

.hidden-content {
  display: none;
  padding: 20px;
}

#searchInput {
  border: none;
  box-shadow: none;
  outline: none;
}

.sichi {
  min-width: 0;
  max-width: 600px;
  margin: 0px 100px 0px 100px;
}

.shadowed {
  box-shadow: 3px 3px 9px 3px rgba(var(--color-black-rgb), 0.05);
  padding: 20px;
}

.shadowing {
  box-shadow: 1px 1px 3px 3px rgba(var(--color-black-rgb), 0.03);
}

.aqi {
  width: 70px;
  height: 70px;
  margin: 20px 43%;
  border-radius: 50%;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 28px;
  font-weight: bold;
  border-color: black;
  border-width: 1px;
}

.aqi-legend-range {
  font-size: 12px;
  margin-top: 10px;
}

.aqi-legend-label {
  font-size: 10px;
}

.aqi-legend-wrapper .aqi-legend {
  padding-top: 2px;
  width: 200px;
  height: 60px;
}

/*--------------------------------------------------------------
# Trends Stylings
--------------------------------------------------------------*/
.aqi-level {
  display: inline-block;
  width: 80px;
  text-align: center;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}

.aqi-good {
  background-color: #9CD84E;
}

.aqi-mid {
  background-color: #FACF39;
}

.aqi-moderate {
  background-color: #F99049;
}

.aqi-poor {
  background-color: #F65E5F;
}

.aqi-unhealthy {
  background-color: #A07AB6;
}

.aqi-hazarous {
  background-color: #A06A7b;
}

/*--------------------------------------------------------------
# Blog Stylings
--------------------------------------------------------------*/
.blog .posts-list article {
  padding: 30px;
  height: 100%;
}

.blog .posts-list article+article {
  margin-top: 60px;
}

.blog .posts-list .post-img {
  max-height: 240px;
  margin: -30px -30px 0 -30px;
  overflow: hidden;
}

.blog .posts-list .title {
  font-size: 24px;
  font-weight: 700;
  padding: 0;
  margin: 20px 0 0 0;
}

.blog .posts-list .title a {
  color: var(--color-secondary);
  transition: 0.3s;
}

.blog .posts-list .title a:hover {
  color: var(--color-primary);
}

.blog .posts-list .meta-top {
  margin-top: 20px;
  color: var(--color-gray);
}

.blog .posts-list .meta-top ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.blog .posts-list .meta-top ul li+li {
  padding-left: 20px;
}

.blog .posts-list .meta-top i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
  color: rgba(var(--color-primary-rgb), 0.8);
}

.blog .posts-list .meta-top a {
  color: var(--color-gray);
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}

.blog .posts-list .content {
  margin-top: 20px;
}

.blog .posts-list .read-more a {
  display: inline-block;
  background: var(--color-primary);
  color: var(--color-white);
  padding: 8px 30px;
  transition: 0.3s;
  font-size: 14px;
  border-radius: 4px;
}

.blog .posts-list .read-more a:hover {
  background: rgba(var(--color-primary-rgb), 0.8);
}

.blog .sidebar {
  padding: 30px;
}

.blog .sidebar .sidebar-title {
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  color: var(--color-secondary);
}

.blog .sidebar .sidebar-item+.sidebar-item {
  margin-top: 40px;
}

.blog .sidebar .search-form form {
  background: var(--color-white);
  border: 1px solid rgba(var(--color-secondary-rgb), 0.3);
  padding: 3px 10px;
  position: relative;
}

.blog .sidebar .search-form form input[type=text] {
  border: 0;
  padding: 4px;
  border-radius: 4px;
  width: calc(100% - 40px);
}

.blog .sidebar .search-form form input[type=text]:focus {
  outline: none;
}

.blog .sidebar .search-form form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 15px;
  margin: -1px;
  background: var(--color-primary);
  color: var(--color-white);
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  line-height: 0;
}

.blog .sidebar .search-form form button i {
  line-height: 0;
}

.blog .sidebar .search-form form button:hover {
  background: rgba(var(--color-primary-rgb), 0.8);
}

.blog .sidebar .categories ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .categories ul li+li {
  padding-top: 10px;
}

.blog .sidebar .categories ul a {
  color: var(--color-secondary);
  transition: 0.3s;
}

.blog .sidebar .categories ul a:hover {
  color: var(--color-default);
}

.blog .sidebar .categories ul a span {
  padding-left: 5px;
  color: rgba(var(--color-default-rgb), 0.4);
  font-size: 14px;
}

.blog .sidebar .recent-posts .post-item {
  display: flex;
}

.blog .sidebar .recent-posts .post-item+.post-item {
  margin-top: 15px;
}

.blog .sidebar .recent-posts img {
  width: 80px;
  margin-right: 15px;
}

.blog .sidebar .recent-posts h4 {
  font-size: 18px;
  font-weight: 400;
}

.blog .sidebar .recent-posts h4 a {
  color: var(--color-secondary);
  transition: 0.3s;
}

.blog .sidebar .recent-posts h4 a:hover {
  color: var(--color-primary);
}

.blog .sidebar .recent-posts time {
  display: block;
  font-style: italic;
  font-size: 14px;
  color: rgba(var(--color-default-rgb), 0.4);
}

.blog .sidebar .tags {
  margin-bottom: -10px;
}

.blog .sidebar .tags ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .tags ul li {
  display: inline-block;
}

.blog .sidebar .tags ul a {
  color: var(--color-secondary-light);
  font-size: 14px;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid rgba(var(--color-secondary-light-rgb), 0.8);
  display: inline-block;
  transition: 0.3s;
}

.blog .sidebar .tags ul a:hover {
  color: var(--color-white);
  border: 1px solid var(--color-primary);
  background: var(--color-primary);
}

.blog .sidebar .tags ul a span {
  padding-left: 5px;
  color: rgba(var(--color-secondary-light-rgb), 0.8);
  font-size: 14px;
}

/*--------------------------------------------------------------
# Blog Details Stylings
--------------------------------------------------------------*/
.blog .blog-details {
  padding: 30px;
}

.blog .blog-details .post-img {
  margin: -30px -30px 20px -30px;
  overflow: hidden;
}

.blog .blog-details .title {
  font-size: 28px;
  font-weight: 700;
  padding: 0;
  margin: 20px 0 0 0;
  color: var(--color-secondary);
}

.blog .blog-details .content {
  margin-top: 20px;
}

.blog .blog-details .content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}

.blog .blog-details .content blockquote {
  overflow: hidden;
  background-color: rgba(var(--color-secondary-rgb), 0.06);
  padding: 60px;
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.blog .blog-details .content blockquote p {
  color: var(--color-default);
  line-height: 1.6;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
}

.blog .blog-details .content blockquote:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: var(--color-secondary);
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog .blog-details .meta-top {
  margin-top: 20px;
  color: var(--color-gray);
}

.blog .blog-details .meta-top ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.blog .blog-details .meta-top ul li+li {
  padding-left: 20px;
}

.blog .blog-details .meta-top i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
  color: rgba(var(--color-primary-rgb), 0.8);
}

.blog .blog-details .meta-top a {
  color: var(--color-gray);
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}

.blog .blog-details .meta-bottom {
  padding-top: 10px;
  border-top: 1px solid rgba(var(--color-secondary-rgb), 0.15);
}

.blog .blog-details .meta-bottom i {
  color: var(--color-secondary-light);
  display: inline;
}

.blog .blog-details .meta-bottom a {
  color: rgba(var(--color-secondary-rgb), 0.8);
  transition: 0.3s;
}

.blog .blog-details .meta-bottom a:hover {
  color: var(--color-primary);
}

.blog .blog-details .meta-bottom .cats {
  list-style: none;
  display: inline;
  padding: 0 20px 0 0;
  font-size: 14px;
}

.blog .blog-details .meta-bottom .cats li {
  display: inline-block;
}

.blog .blog-details .meta-bottom .tags {
  list-style: none;
  display: inline;
  padding: 0;
  font-size: 14px;
}

.blog .blog-details .meta-bottom .tags li {
  display: inline-block;
}

.blog .blog-details .meta-bottom .tags li+li::before {
  padding-right: 6px;
  color: var(--color-default);
  content: ",";
}

.blog .blog-details .meta-bottom .share {
  font-size: 16px;
}

.blog .blog-details .meta-bottom .share i {
  padding-left: 5px;
}

.blog .comments {
  margin-top: 30px;
}

.blog .comments .comments-count {
  font-weight: bold;
}

.blog .comments .comment {
  margin-top: 30px;
  position: relative;
}

.blog .comments .comment .comment-img {
  margin-right: 14px;
  border-radius: 50%;
  padding: 0 0 0 0;
}

.blog .comments .comment .comment-img img {
  width: 75px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.blog .comments .comment h5 {
  font-size: 16px;
  margin-bottom: 2px;
}

.blog .comments .comment h5 a {
  font-weight: bold;
  color: var(--color-default);
  transition: 0.3s;
}

.blog .comments .comment h5 a:hover {
  color: var(--color-primary);
}

.blog .comments .comment h5 .reply {
  padding-left: 10px;
  color: var(--color-secondary);
}

.blog .comments .comment h5 .reply i {
  font-size: 20px;
}

.blog .comments .comment time {
  display: block;
  font-size: 14px;
  color: rgba(var(--color-secondary-rgb), 0.8);
  margin-bottom: 5px;
}

.blog .comments .comment.comment-reply {
  padding-left: 40px;
}

.blog .comments .reply-form {
  margin-top: 30px;
  padding: 30px;
}

.blog .comments .reply-form h4 {
  font-weight: bold;
  font-size: 22px;
}

.blog .comments .reply-form p {
  font-size: 14px;
}

.blog .comments .reply-form input {
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 14px;
}

.blog .comments .reply-form input:focus {
  box-shadow: none;
  border-color: rgba(var(--color-primary-rgb), 0.8);
}

.blog .comments .reply-form textarea {
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 14px;
}

.blog .comments .reply-form textarea:focus {
  box-shadow: none;
  border-color: rgba(var(--color-primary-rgb), 0.8);
}

.blog .comments .reply-form .form-group {
  margin-bottom: 25px;
}

.blog .comments .reply-form .btn-primary {
  border-radius: 4px;
  padding: 10px 20px;
  border: 0;
  background-color: var(--color-secondary);
}

.blog .comments .reply-form .btn-primary:hover {
  background-color: rgba(var(--color-secondary-rgb), 0.8);
}

.blog .blog-pagination {
  margin-top: 30px;
  color: var(--color-secondary-light);
}

.blog .blog-pagination ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.blog .blog-pagination li {
  margin: 0 5px;
  transition: 0.3s;
}

.blog .blog-pagination li a {
  color: var(--color-secondary);
  padding: 7px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog .blog-pagination li.active,
.blog .blog-pagination li:hover {
  background: var(--color-primary);
}

.blog .blog-pagination li.active a,
.blog .blog-pagination li:hover a {
  color: var(--color-white);
}

/*--------------------------------------------------------------
# Profile
--------------------------------------------------------------*/
.menu {
  justify-content: center;
  /* overflow-y: auto; */
}

.menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.menu li {
  text-align: center;
  list-style: none;
  padding: 10px 0;
}

.menu a::before {
  margin-right: 10px;
  position: absolute;
  margin-left: -25px;
  margin-right: 5px;
}

.menu a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 8px 12px;
  padding-left: 35px;
  background-color: white;
  text-decoration: none;
  color: black;
  width: 270px;
  height: 50px;
}

.menu .addButton .circle {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 10px;
  padding: 10px 10px 10px 10px;
  padding-left: 40px;
  border-radius: 50%;
}

.menu .addButton a:hover {
  color: black;
  background-color: white;
}

.menu a:hover {
  color: var(--color-white);
  background: rgba(var(--color-secondary-light-rgb), 0.4);
}

.usrname {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
  width: 270px;
  height: 50px;
}

.usrname input[type="text"] {
  width: 70%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
  border: none;
}

#pwd input[type="text"] {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
  border: none;
}


.usrname input:focus {
  border: none;
}

#saveButton,
.usrname span#editButton {
  cursor: pointer;
  padding: 2px 12px;
  background-color: #ccc;
  border-radius: 3px;
}

#saveButton:hover,
.usrname span#editButton:hover {
  background-color: rgba(var(--color-black-rgb), 0.4);
}

#cancelButton {
  cursor: pointer;
  padding: 2px 12px;
  background-color: white;
  border-radius: 3px;
}

#cancelButton:hover {
  background-color: rgba(var(--color-secondary-rgb), 0.06);
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #007bff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  overflow: auto;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  padding-bottom: 60px;
  border: 1px solid #ccc;
  min-width: 37%;
  max-height: 77%;
  overflow: auto;
  border-radius: 35px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.search-box {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.search-box:focus {
  outline: none;
}

.text-content {
  padding-top: 0;
  margin-top: 0;
  width: 100%;
}

.text-content li+li {
  padding-top: 10px;
}

.selection {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.selection:hover {
  background-color: rgba(var(--color-black-rgb), 0.4);
}

.circle-number {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #007bff;
  color: black;
  font-size: 20px;
  text-align: center;
  line-height: 47px;
  margin-right: 10px;
  font-weight: bold;
}

#savedLocation h3 {
  margin-left: 0;
}

.menu .notif:hover {
  color: black;
  background-color: white;
}

.fotonih {
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

@media (max-width: 819px) {

  .concon {
    border: none;
    box-shadow: none;
  }
}

/*--------------------------------------------------------------
# About Stylings
--------------------------------------------------------------*/
@media (max-width: 767px) {
  .abab {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 20px;
    margin-top: 8vh;
    font-size: 12px;
  }

  .abab .logo-ab {
    width: 60%;
    height: 60%;
  }
}

.abab {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.abab .desc-ab {
  position: relative;
}




/*--------------------------------------------------------------
# FAQs Stylings
--------------------------------------------------------------*/
@media (max-width: 767px) {
  .faq {
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    min-height: 100vh;
    margin-top: 5vh;
  }
}

.faq {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.faq h3+h3 {
  margin-top: 2vh;
}

.accordion-item {
  background-color: rgba(var(--color-secondary-light-rgb), 0.4);
  border: none;
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
  border: none;
  color: black;
  background-color: rgba(var(--color-secondary-light-rgb), 0.4);
  border-bottom: none;
}

.accordion-button {
  font-size: 15px;
  font-weight: bold;
  height: 7vh;
  background-color: rgba(var(--color-secondary-light-rgb), 0.4);
}

.accordion-button:not(.collapsed) {
  background-color: rgba(var(--color-secondary-light-rgb), 0.4);
  color: black;
  border-radius: 8px;
  font-size: 15px;
}

.accordion-body {
  background-color: rgba(var(--color-secondary-light-rgb), 0.4);
  border-radius: 8px;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.accordion-header {
  border-bottom: none;
}

.accordion-collapse {
  border-bottom-color: transparent;
}

.accordion-button::after {
  border: none;
  pointer-events: none;
  display: none;
}

.que {
  border: none;
  overflow-y: auto;
  height: 410px;
  scrollbar-width: thin;
  scrollbar-color: darkgrey lightgrey;
}

.que::-webkit-scrollbar {
  width: 8px;
}

.que::-webkit-scrollbar-track {
  background: transparent;
}

.que::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 4px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  color: var(--color-white);
  font-size: 15px;
}

.footer .footer-content {
  background: var(--color-secondary);
  padding: 50px 0 30px 0;
}

.footer .footer-legal {
  padding: 30px 0;
  background: var(--color-secondary-dark);
}

.footer .footer-legal .copyright p,
.footer .footer-legal .copyright a {
  margin-bottom: 0;
  color: var(--color-white);
}

.footer .footer-content h5 {
  color: white;
  opacity: 0.5;
  margin-bottom: 10px;
  font-family: var(--font-secondary);
  font-size: 16px;
}

.footer .footer-content .col-6 ul li+li {
  padding-top: 5px;
}

.footer .footer-legal .credits a {
  color: var(--color-primary-light);
}

.footer .footer-legal .social-links a {
  color: white;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .footer-legal .social-links a+a {
  padding-left: 10px;
}

@media (max-width: 992px) {
  .footer .footer-legal .social-links {
    display: flex;
    flex-direction: column;
  }

  .footer .footer-legal .social-links a+a {
    padding-left: 0;
  }

  .footer .footer-legal .copyright {
    max-width: 50%;
  }

  .footer .footer-content .logo {
    column-width: 100%;
    justify-content: start;
    align-items: start;
  }

  .footer .footer-content .gambar {
    width: 20%;
    height: 100%;
    justify-content: start;
  }
}